.countries{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  align-items: stretch;
  justify-items: center;
}

.content{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.card{
  
  min-width: 205px;
  max-width: 275px;
  width: 100%;
  text-transform: capitalize;
  border: 3px solid lightslategray;
  border-radius: 16px;
  background-color: #4a4a4a ;

  
 
  .card-header{
    padding: 0 15px;
    color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    I {
      cursor: pointer;
    }
  }

  hr{
    border: 2px solid lightslategray;
  }

  .medal{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 5px 10px 15px;
  .increment {
      margin-top: 3px;
      border-radius: 20px;
      color: white;
      border: 1px solid gray;
      padding: 0.5em .9em;
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      background-color: #4b53db;
      cursor: pointer;
      transition: border-color 0.25s;

      &:active {
          background-color: #2932dc;

          .increment-text {
            color: navy;
          }
        }

        .increment-text {
          font-size: 1em;
        }
        
      }

  .decrement{
    margin-top: 3px;
      border-radius: 20px;
      color: white;
      border: 1px solid gray;
      padding: 0.6em 1em;
      font-size: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      background-color: #b24444;
      cursor: pointer;
      transition: border-color 0.25s;

      &:active {
          background-color: #b42424;

          .decrement-text {
            color: maroon;
          }
        }
        &:hover{
          border-color: white;
        }

         &:disabled {
          background-color: gray;
          cursor: not-allowed;
        }
        .decrement-text{
          font-size: .8em;
        }

        
    }
    .flexed-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }
}


@media screen and (max-width: 1024px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 450px;
    min-width: 205px;
    margin-bottom: 20px;
  }
  
  .countries {
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .countries {
    grid-template-columns: 1fr;
  }
}


